
body {
    margin: 0 0 0 300px;
    font-family: sans-serif;
}
.nav {
    padding: 1rem;
    background-color: rgba(10, 10, 10);
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
}
a{
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-top: 1.9rem;
}